.lazyBlure {
  width: 100%;
}

.lazy-blur {
  position: relative;
  overflow: hidden;
}

.lazy-blur img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lazy-blur__imgL {
  opacity: 0;
  transition: opacity .3s;
}

.done > .lazy-blur__imgL {
  opacity: 1;
}
