extends pug/base

prepend vars
    - title = 'Title' // для шерингов указываем все здесь
    - description = 'description'
    - image = '/images/share/url-image'

append vars
    - link.appleTouchIcon180x180 = '/favicon/apple-touch-icon.png'
    - link.icon32x32 = '/favicon/favicon-32x32.png'
    - link.icon16x16 = '/favicon/favicon-16x16.png'
    - link.manifest = '/favicon/site.webmanifest'
    - link.maskIcon.href = '/favicon/safari-pinned-tab.svg'
    - link.maskIcon.color = '#5bbad5'
    - meta.msapplicationTileColor = '#ffffff'
    - meta.msapplicationTileImage = '/favicon/mstile-144x144.png'
    - meta.themeColor = '#ffffff'
    - html.classList = ["theme-black"]
    - body.attrs = {"data-barba": "wrapper"} // не забываем про добавление этой строчки

block content
    .page-container(data-barba="container" data-barba-namespace="index") // вместо index указываем нужную нам страницу, Этот блок обязательный, без него не будет работать роутинг.
        include pug/components/header

        main.main
            include pug/pages/page // подключаем нужную страницу
    include pug/counters // трекеры аналитики
